**/**/__pycache__
**/**/.env
**/**/venv
chromedriver*
.DS_Store
prices
venv
.venv
.claude
node_modules
build
package-lock.json
itemsNames*.json
test.js
תנובה.json
אסם.json
טרה.json
מולר.json
carre_branches.json

